.battleship_grid, .ship_table { 
    margin:1em auto;
    margin-top: 0; 
    border-collapse:collapse;
}

.battleship_grid{
    margin-right: 10px; 
}

.battleship_grid td, .ship_table td {
    cursor:pointer;
    width:30px;
    height:30px;
    border:1px solid #ccc;
    text-align:center;
    /* font-weight: bold; */
    /*font-family:sans-serif;*/
    /*font-size:13px;*/
}

.ship_table td{
    width: 25px;
    height: 25px;
}

.battleship_grid td .cell_text{
    /* background-color: #fff; */
    background-color: rgba(255,255,255,.9);
    border-radius:50px;
    font-weight: 600;
}

.battleship_grid td.has_text .cell_text{
    padding-left: 3px;
    padding-right: 3px;
}

/* .ship_table { 
    margin:1em auto;
    margin-top: 0; 
    border-collapse:collapse;
} */
/* .ship_table td {
    cursor:pointer;
    width:25px;
    height:25px;
    border:1px solid #ccc;
    text-align:center;
    /*font-family:sans-serif;*/
    /*font-size:13px; 
} */

#battleship_grid_div{
    padding-right: 20px;
}


#sidebar {
    background: #eeeeee;
}

#player_list_div{
    max-width: 120px;
}
#player_list_div .list-group-item,
#erase_div .list-group-item{
    color: #000;
    border-width: 2px;
    padding: 1px 5px;
}

#new_player_div{
    margin-top:10px;
}

#erase_div{
    margin-top:10px;
}

/* #erase_shot{
    background-color: #fff;
} */

#player_list_div .active,
#erase_div .list-group-item .active {
    filter: brightness(80%);
    border-color: #000;
    font-weight: 600;
    border-width: 2px;
}



.ship_table {
    float: left;
    margin-left:10px;
    margin-right:10px;
    margin-top:0;
    margin-bottom:0;
}
td.bordered_cell {
    border-color: #000;
    border-width: 1px;
}

td.unbordered_cell {
    border: none;
}

.next_turn_div {
    margin-top: 10px;
}

#add_border_button{
    font-size:13px;
}

/* #next_turn_button {
    font-size: 19px;
    width: 40px;
    padding: 3px;
} */

#shot_number {
    width: 60px;
    padding: 3px;
}

#ship_tracker_div{
    overflow-y: scroll;
    height:calc(100vh - 50px);
}

#ship_tracker_div .ship_tracker{
    border-radius: 10px;
    border: 2px #aaa solid;
    margin-left: 0;
    margin-right: 0;
}

.tracker_name_div{
    width: 80px;
    float: left;
    border-right: #aaa;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tracker_ship_div{
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.border_buttons_div{
    float:left;
    margin-top: 10px;
}

.contains_ship{
    /* http://www.heropatterns.com/ - "tiny checkers" pattern*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.6'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

#shot_num_label, #player_list_label{
    margin-bottom: 0;
    font-weight: 600;
}

.player-handle{
    color: #333;
    margin-left: 5px;
}

.player-handle:hover{
    cursor: grab;
}

.player-handle:active{
    cursor: grabbing;
}

.player-skull{
    color: #999;
    margin-left: 5px;
}
.player-skull:hover{
    cursor: pointer;
    color: #333;
}

#player_list_div .list-group-item.dead {
    text-decoration: line-through;
    text-decoration-color: #ec3333;
}

#player_list_div .list-group-item.dead .player-skull{
    color: #ec3333;
}

#player_list_div .player-name:hover{
    cursor: pointer;
}

#shot_number{
    display:inline-block;
}

.div-hide-input .show-input{
    display:none;
}

.div-show-input .hide-input{
    display:none;
}

#new_player_input{
    max-width:120px;
}